{% extends "todo.html" %}
{% load todo_extras static %}
{% block title %}{% if not object %}Добавление задачи{% else %}Редактирование задачи "{{object}}"{% endif %}{% endblock %}

{% block page-header %}
<h1>{% if not object %}Добавление{% else %}Редактирование{% endif %} задачи</h1>
{% endblock %}

{% block css %}
{{ form.media.css }}
{% endblock %}

{% block js %}
{{ form.media.js }}
<script>
	$(
	function() {
		$("#id_assigned_to").chosen({width:'100%',no_results_text:"Ничего не найдено"});
	});
</script>
{% endblock %}

{% block entire-content %}
<div class="container">
<form method="post" id="editform">
{% csrf_token %}
<div class="panel panel-default">
<div class="panel-heading">
{% if form.errors %}
<div class="alert alert-danger">
	{% if form.project.errors %}Не выбран проект<br />{% endif %}
	{% if form.title.errors %}Не введено название задачи<br />{% endif %}
	{% if form.deadline.errors %}Формат даты в поле Срок должен быть yyyy-mm-dd<br />{% endif %}
	{% if form.priority.errors %}Не выбран приоритет задачи<br/>{% endif %}
	{% if form.info.errors %}Не введено описание задачи<br/>{% endif %}
	{% if form.assigned_to.errors %}Не выбраны ответственные{% endif %}
</div>
{% endif %}
	<div class="row">
		<div class="col-md-1 text-right"><label for="id_project"><span class="red">*</span> Проект:</label></div>
		<div class="col-md-3">{{form.project}}</div>
		<div class="col-md-2 text-right"><label for="id_title"><span class="red">*</span> Название задачи:</label></div>
		<div class="col-md-6">{{form.title}}</div>
	</div>
</div>
<div class="panel-body">
	<div><label for="id_info">Описание:</label></div>
	<div class="row">
		<div class="col-md-9">{{form.info}}</div>
		<div class="col-md-3">
		<div><label for="id_deadline">Срок:</label></div>
		<div class="input-group date" data-date-format='dd.mm.yyyy' data-date-language='ru' data-date-autoclose="1" data-provide='datepicker'>
			{{form.deadline}}
			<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
		</div>
		<div><label for="id_tags">Теги:</label></div>
		{{form.tags}}
		<div><label for="id_priority">Приоритет:</label></div>
		{{form.priority}}
		<div><label for="id_assigned_to">Ответственные:</label></div>
		{{form.assigned_to}}
		<div><label for="id_priority">Доступ:</label></div>
		{{form.public}}
		</td>

		</div>
	</div>
</div>
<div class="panel-footer">
		<button type="submit" class="btn btn-primary">Сохранить задачу</button>
		<a class="btn btn-default" href="{% if not object %}{% url 'task_list' %}{% else %}{# url task_details object.id #}{% endif %}">отмена</a>
</div>
</div>
</form>
</div>
{% endblock %}
